In [28]:
import dask.dataframe as dd

In [29]:
Regional_data= dd.read_csv('Region_split/*.csv')

In [6]:
Regional_data

,region_id,region_type,region,Zipcode,State,Metro Area,City,County
3696,69435,zip,"27592;NC;Raleigh-Cary, NC;Willow Spring;Johnst...",27592,NC,"Raleigh-Cary, NC",Willow Spring,Johnston County
3697,91515,zip,"76643;TX;Waco, TX;Hewitt;McLennan County",76643,TX,"Waco, TX",Hewitt,McLennan County
3698,77520,zip,"45229;OH;Cincinnati, OH-KY-IN;Cincinnati;Hamil...",45229,OH,"Cincinnati, OH-KY-IN",Cincinnati,Hamilton County
3699,90736,zip,"75159;TX;Dallas-Fort Worth-Arlington, TX;Seago...",75159,TX,"Dallas-Fort Worth-Arlington, TX",Seagoville,Dallas County
3700,66116,zip,"19968;DE;Salisbury, MD-DE;Milton;Sussex County",19968,DE,"Salisbury, MD-DE",Milton,Sussex County

In [33]:
#chicago data
chicago_data = Regional_data[Regional_data['State'] == 'IL']
#print(chicago_data.tail())
print(chicago_data.tail())

      region_id region_type  \
3544      84487         zip
3560      85573         zip
3572      84831         zip
3653      84382         zip
3684      84419         zip

                                                 region  Zipcode State  \
3544  60436;IL;Chicago-Naperville-Elgin, IL-IN-WI;Ro...    60436    IL
3560  62568;IL;Taylorville, IL;Taylorville;Christian...    62568    IL
3572    61114;IL;Rockford, IL;Rockford;Winnebago County    61114    IL
3653  60131;IL;Chicago-Naperville-Elgin, IL-IN-WI;Fr...    60131    IL
3684  60173;IL;Chicago-Naperville-Elgin, IL-IN-WI;Sc...    60173    IL

                              Metro Area           City            County
3544  Chicago-Naperville-Elgin, IL-IN-WI       Rockdale       Will County
3560                     Taylorville, IL    Taylorville  Christian County
3572                        Rockford, IL       Rockford  Winnebago County
3653  Chicago-Naperville-Elgin, IL-IN-WI  Franklin Park       Cook County
3684  Chicago-Naperville-Elgin, IL-IN-WI     Schaumburg       Cook County

In [36]:
chicago_data.dtypes

region_id       int64
region_type    object
region         object
City           object
State          object
Metro Area     object
County         object
dtype: object

In [25]:
calculated_data= dd.read_csv('Clean_data/Data.csv')

In [26]:
inidcators_data= dd. read_csv('Clean_data/indicators.csv')