## Region Type seperation

In [23]:
#import libraries
import pandas as pd

In [24]:
#Region type counts
regions= pd.read_csv('Clean_data/Regions.csv')

regions['region_type'].value_counts()

city      10417
neigh     10122
zip        3701
county     3006
metro       632
Name: region_type, dtype: int64

In [25]:
regions.dtypes

region_id       int64
region_type    object
region         object
dtype: object

In [26]:
#Splitting by type
city_df= regions[regions['region_type']=='city'].copy()
neigh_df= regions[regions['region_type']=='neigh'].copy()
zip_df= regions[regions['region_type']=='zip'].copy()
county_df= regions[regions['region_type']=='county'].copy()
metro_df= regions[regions['region_type']=='metro'].copy()

In [27]:
#city
city_df[['City', 'State', 'Metro Area', 'County']] = city_df['region'].str.split(';', expand=True)
#replacing NA's
city_df['Metro Area'] = city_df['Metro Area'].replace('nan', pd.NA)
city_df.head()

,region_id,region_type,region,City,State,Metro Area,County
1,26591,city,Port Leyden;NY;nan;Lewis County,Port Leyden,NY,<NA>,Lewis County
2,3986,city,"Carson;VA;Richmond, VA;Dinwiddie County",Carson,VA,"Richmond, VA",Dinwiddie County
3,6626,city,"Princeton;IA;Davenport-Moline-Rock Island, IA-...",Princeton,IA,"Davenport-Moline-Rock Island, IA-IL",Scott County
4,49285,city,Jackson;NH;nan;Carroll County,Jackson,NH,<NA>,Carroll County
5,42441,city,"Dorset;OH;Ashtabula, OH;Ashtabula County",Dorset,OH,"Ashtabula, OH",Ashtabula County

In [28]:
city_df.dtypes

region_id       int64
region_type    object
region         object
City           object
State          object
Metro Area     object
County         object
dtype: object

In [29]:
#Neighborhood
neigh_df[['Neighborhood', 'State', 'Metro Area', 'City', 'County']] = neigh_df['region'].str.split(';', expand=True)
neigh_df.head()

,region_id,region_type,region,Neighborhood,State,Metro Area,City,County
0,403211,neigh,"Longwood;NY;New York-Newark-Jersey City, NY-NJ...",Longwood,NY,"New York-Newark-Jersey City, NY-NJ-PA",New York,Bronx County
18,271495,neigh,"North Dallas; TX; Dallas-Fort Worth-Arlington,...",North Dallas,TX,"Dallas-Fort Worth-Arlington, TX",Dallas County,Dallas
36,343208,neigh,"Highbridge;NY;New York-Newark-Jersey City, NY-...",Highbridge,NY,"New York-Newark-Jersey City, NY-NJ-PA",New York,Bronx County
48,270891,neigh,Morningside Heights;NY;New York-Newark-Jersey ...,Morningside Heights,NY,"New York-Newark-Jersey City, NY-NJ-PA",New York,New York County
69,403295,neigh,Lake View East; IL; Chicago-Naperville-Elgin; ...,Lake View East,IL,Chicago-Naperville-Elgin,Cook County,Chicago

In [30]:
neigh_df.dtypes

region_id        int64
region_type     object
region          object
Neighborhood    object
State           object
Metro Area      object
City            object
County          object
dtype: object

In [31]:
#zipcode
zip_df[['Zipcode', 'State', 'Metro Area', 'City', 'County']] = zip_df['region'].str.split(';', expand=True)
zip_df.head()

,region_id,region_type,region,Zipcode,State,Metro Area,City,County
2246,58924,zip,"2826;RI;Providence-Warwick, RI-MA;Burrillville...",2826,RI,"Providence-Warwick, RI-MA",Burrillville,Providence County
2572,58472,zip,"1745;MA;Worcester, MA-CT;nan;Worcester County",1745,MA,"Worcester, MA-CT",nan,Worcester County
3008,98400,zip,"95721;CA;Sacramento-Roseville-Folsom, CA;South...",95721,CA,"Sacramento-Roseville-Folsom, CA",South Lake Tahoe,El Dorado County
3062,98402,zip,"95724;CA;Sacramento-Roseville-Folsom, CA;nan;P...",95724,CA,"Sacramento-Roseville-Folsom, CA",nan,Placer County
3129,95851,zip,"89155;NV;Las Vegas-Henderson-Paradise, NV;Las ...",89155,NV,"Las Vegas-Henderson-Paradise, NV",Las Vegas,Clark County

In [32]:
#Clean zipcodes, some of these are missing a digit.
zip_df['Zipcode'] = zip_df['Zipcode'].astype(int).apply(lambda x: f'{x:05d}')
zip_df.head()

,region_id,region_type,region,Zipcode,State,Metro Area,City,County
2246,58924,zip,"2826;RI;Providence-Warwick, RI-MA;Burrillville...",02826,RI,"Providence-Warwick, RI-MA",Burrillville,Providence County
2572,58472,zip,"1745;MA;Worcester, MA-CT;nan;Worcester County",01745,MA,"Worcester, MA-CT",nan,Worcester County
3008,98400,zip,"95721;CA;Sacramento-Roseville-Folsom, CA;South...",95721,CA,"Sacramento-Roseville-Folsom, CA",South Lake Tahoe,El Dorado County
3062,98402,zip,"95724;CA;Sacramento-Roseville-Folsom, CA;nan;P...",95724,CA,"Sacramento-Roseville-Folsom, CA",nan,Placer County
3129,95851,zip,"89155;NV;Las Vegas-Henderson-Paradise, NV;Las ...",89155,NV,"Las Vegas-Henderson-Paradise, NV",Las Vegas,Clark County

In [33]:
zip_df.dtypes

region_id       int64
region_type    object
region         object
Zipcode        object
State          object
Metro Area     object
City           object
County         object
dtype: object

In [34]:
#county
county_df[['County Name', 'State', 'Metro Area']] = county_df['region'].str.split(';', expand=True)
county_df['Metro Area'] = county_df['Metro Area'].replace('nan', pd.NA)
county_df.head()

,region_id,region_type,region,County Name,State,Metro Area
40,2375,county,Lamoille County;VT;nan,Lamoille County,VT,<NA>
41,865,county,"Benton County;IA;Cedar Rapids, IA",Benton County,IA,"Cedar Rapids, IA"
42,2481,county,Plymouth County;IA;nan,Plymouth County,IA,<NA>
43,703,county,"Salem City;VA;Roanoke, VA",Salem City,VA,"Roanoke, VA"
44,568,county,Iosco County;MI;nan,Iosco County,MI,<NA>

In [35]:
county_df.dtypes

region_id       int64
region_type    object
region         object
County Name    object
State          object
Metro Area     object
dtype: object

In [36]:
#metro
metro_df[['Metro Name', 'State']] = metro_df['region'].str.split(', ', expand=True)
metro_df.head()

      region_id region_type           region   Metro Name State
403      394859       metro      Midland, MI      Midland    MI
475      395082       metro  Selinsgrove, PA  Selinsgrove    PA
626      394801       metro   Logansport, IN   Logansport    IN
764      394419       metro    Brookings, SD    Brookings    SD
1133     394642       metro       Grants, NM       Grants    NM

In [37]:
metro_df.dtypes

region_id       int64
region_type    object
region         object
Metro Name     object
State          object
dtype: object

## CSV File extractions

In [38]:
#Paths to CSV files
Split_path = 'Region_split/City.csv'
Split_path2 = 'Region_split/Neighborhood.csv'
Split_path3 = 'Region_split/Zip.csv'
Split_path4 = 'Region_split/County.csv'
Split_path5 = 'Region_split/Metro.csv'

In [39]:
city_df.to_csv(Split_path, index=False)
neigh_df.to_csv(Split_path2, index=False)
zip_df.to_csv(Split_path3, index=False)
county_df.to_csv(Split_path4, index=False)
metro_df.to_csv(Split_path5, index=False)