In [153]:
#import libraries
import pandas as pd

## Step One: Exploring the data. 
Checking if data has any null values in any of the cells.

In [154]:
#create indicator ID DataFrame
indicator_df= pd.read_csv('Resources/Zillow_Indicators.csv')

#Display sample data
indicator_df.head()

,indicator_id,indicator,category
0,MRAM,"Mean Days to Pending (Raw, All Homes, Monthly)",Inventory and sales
1,SSSW,"Median Sale Price (Smooth, SFR only, Weekly View)",Inventory and sales
2,LSSM,"Median List Price (Smooth, SFR Only, Monthly)",Inventory and sales
3,CSAW,"Share of Listings With a Price Cut (Smooth, Al...",Inventory and sales
4,ISSM,"For-Sale Inventory (Smooth, SFR only, Monthly)",Inventory and sales

In [155]:
indicator_df.count()

indicator_id    56
indicator       56
category        56
dtype: int64

In [156]:
#Regions DataFrame
regions_df= pd.read_csv('Resources/Zillow_Regions.csv')

#Display Sample Data
regions_df.head()

   region_id region_type                                             region
0       1286      county  Orange County;CA;Los Angeles-Long Beach-Anahei...
1       3175      county  Philadelphia County;PA;Philadelphia-Camden-Wil...
2       3017      county  Sacramento County;CA;Sacramento-Roseville-Fols...
3        401      county  Bronx County;NY;New York-Newark-Jersey City, N...
4       3165      county  Hillsborough County;FL;Tampa-St. Petersburg-Cl...

In [157]:
regions_df.count()

region_id      89305
region_type    89305
region         89305
dtype: int64

In [158]:
region_types= regions_df['region_type'].unique()
region_types

array(['county', 'metro', 'state', 'neigh', 'city', 'zip'], dtype=object)

In [159]:
#Data DataFrame
data_df= pd.read_csv('Resources/Zillow_Data.csv')

#Display Data
data_df.head()

  indicator_id  region_id        date         value
0         Z4BR     403211   2/28/2021  477466.00000
1         ZALL      26591  11/30/2005   76985.30089
2         ZALL       3986  11/30/2005  176636.58420
3         ZALL       6626  11/30/2005  161867.51640
4         ZALL      49285  11/30/2005  191388.10450

In [160]:
data_df.count()

indicator_id    1048575
region_id       1048575
date            1048575
value           1048575
dtype: int64

## Step Two: Cleaning Data
- Cleaning the data to be utilized all together

In [161]:
# Merge to complete a lookup of valid indicators_ID's
valid_indicators = pd.merge(data_df[['indicator_id']],indicator_df, on='indicator_id', how='inner')
print(valid_indicators['indicator_id'].nunique())
print(valid_indicators['indicator_id'].unique())
print(valid_indicators.count())

28
['Z4BR' 'ZALL' 'ZCON' 'ZSFH' 'Z3BR' 'IRAW' 'SAAW' 'MRAM' 'Z2BR' 'ZATT'
 'SSSW' 'LSSM' 'CSAW' 'ZABT' 'SASW' 'MRAW' 'LRAM' 'ISSW' 'MSAW' 'LSAM'
 'NRAW' 'NSAW' 'SRAM' 'SSAM' 'NSAM' 'CRAM' 'Z5BR' 'NRAM']
indicator_id    1048575
indicator       1048575
category        1048575
dtype: int64

In [162]:
#Merge to complete a lookup of valid region_ID's
valid_region= pd.merge(data_df['region_id'], regions_df, on= "region_id", how= 'inner')
print(valid_region['region_id'].nunique())
print(valid_region['region_id'].unique())
print(valid_region.count())

27878
[403211  26591   3986 ...  77520  90736  66116]
region_id      1048575
region_type    1048575
region         1048575
dtype: int64

In [163]:
#Triple merge to complete a lookup of valid data
valid_data= pd.merge(data_df, indicator_df[['indicator_id']], on='indicator_id', how='inner')
Clean_data= pd.merge(valid_data, regions_df[['region_id']], on='region_id', how='inner')
print(Clean_data['indicator_id'].nunique())

28

In [164]:
#creating the clean CSV files for indicator and regions
#valid_indicators.head()
#Drop the duplicates (This list should only have 1 Id each indicators)
valid_indicators= valid_indicators.drop_duplicates(subset=['indicator_id'])
print(valid_indicators.count())

indicator_id    28
indicator       28
category        28
dtype: int64

In [165]:
#valid_region.head()
#Drop the duplicates (This list should only have 1 Id each indicators)
valid_region=valid_region.drop_duplicates(subset=['region_id'])
print(valid_region.count())

region_id      27878
region_type    27878
region         27878
dtype: int64

In [166]:
Clean_data.head()

  indicator_id  region_id       date      value
0         Z4BR     403211  2/28/2021   477466.0
1         Z4BR     271495  2/28/2021  1119735.0
2         Z4BR     343208  2/28/2021   646941.0
3         Z4BR     270891  2/28/2021  1379098.0
4         Z4BR     403295  2/28/2021   764876.0

In [167]:
#creating paths to the new CSV files
path = 'Clean_data/Indicators.csv'
path2= 'Clean_data/Regions.csv'
path3= 'Clean_data/Data.csv'

In [168]:
#indicators CSV
valid_indicators.to_csv(path, index=False)

print(f'File saved at {path}')

File saved at Clean_data/Indicators.csv

In [169]:
#regions CSV
valid_region.to_csv(path2, index=False)

print(f'File saved at {path2}')

File saved at Clean_data/Regions.csv

In [170]:
#Data CSV
Clean_data.to_csv(path3, index=False)

print(f'File saved at {path3}')

File saved at Clean_data/Data.csv