In [68]:
#import libraries
import pandas as pd

## Step One: Exploring the data. 
Checking if data has any null values in any of the cells.

In [69]:
#create indicator ID DataFrame
indicator_df= pd.read_csv('Resources/Zillow_Indicators.csv')

#Display sample data
indicator_df.head()

,indicator_id,indicator,category
0,MRAM,"Mean Days to Pending (Raw, All Homes, Monthly)",Inventory and sales
1,SSSW,"Median Sale Price (Smooth, SFR only, Weekly View)",Inventory and sales
2,LSSM,"Median List Price (Smooth, SFR Only, Monthly)",Inventory and sales
3,CSAW,"Share of Listings With a Price Cut (Smooth, Al...",Inventory and sales
4,ISSM,"For-Sale Inventory (Smooth, SFR only, Monthly)",Inventory and sales

In [70]:
indicator_df.count()

indicator_id    56
indicator       56
category        56
dtype: int64

In [71]:
#Regions DataFrame
regions_df= pd.read_csv('Resources/Zillow_Regions.csv')

#Display Sample Data
regions_df.head()

   region_id region_type                                             region
0       1286      county  Orange County;CA;Los Angeles-Long Beach-Anahei...
1       3175      county  Philadelphia County;PA;Philadelphia-Camden-Wil...
2       3017      county  Sacramento County;CA;Sacramento-Roseville-Fols...
3        401      county  Bronx County;NY;New York-Newark-Jersey City, N...
4       3165      county  Hillsborough County;FL;Tampa-St. Petersburg-Cl...

In [72]:
regions_df.count()

region_id      89305
region_type    89305
region         89305
dtype: int64

In [73]:
region_types= regions_df['region_type'].unique()
region_types

array(['county', 'metro', 'state', 'neigh', 'city', 'zip'], dtype=object)

In [74]:
#Data DataFrame
data_df= pd.read_csv('Resources/Zillow_Data.csv')

#Display Data
data_df.head()

  indicator_id  region_id        date         value
0         Z4BR     403211   2/28/2021  477466.00000
1         ZALL      26591  11/30/2005   76985.30089
2         ZALL       3986  11/30/2005  176636.58420
3         ZALL       6626  11/30/2005  161867.51640
4         ZALL      49285  11/30/2005  191388.10450

In [75]:
data_df.count()

indicator_id    1048575
region_id       1048575
date            1048575
value           1048575
dtype: int64

## Step Two: Comparing Data
- Cleaning the data to be utilized all together

In [76]:
# Merge to complete a lookup of valid indicators_ID's
valid_indicators = pd.merge(data_df[['indicator_id']],indicator_df, on='indicator_id', how='inner')
print(valid_indicators['indicator_id'].nunique())
print(valid_indicators['indicator_id'].unique())

28
['Z4BR' 'ZALL' 'ZCON' 'ZSFH' 'Z3BR' 'IRAW' 'SAAW' 'MRAM' 'Z2BR' 'ZATT'
 'SSSW' 'LSSM' 'CSAW' 'ZABT' 'SASW' 'MRAW' 'LRAM' 'ISSW' 'MSAW' 'LSAM'
 'NRAW' 'NSAW' 'SRAM' 'SSAM' 'NSAM' 'CRAM' 'Z5BR' 'NRAM']

In [77]:
#Merge to complete a lookup of valid region_ID's
valid_region= pd.merge(data_df['region_id'], regions_df, on= "region_id", how= 'inner')
print(valid_region['region_id'].nunique())
print(valid_region['region_id'].unique())

27878
[403211  26591   3986 ...  77520  90736  66116]

In [88]:
#Triple merge to complete a lookup of valid data
valid_data= pd.merge(data_df, indicator_df[['indicator_id']], on='indicator_id', how='inner')
Clean_data= pd.merge(valid_data, regions_df[['region_id']], on='region_id', how='inner')
print(Clean_data['indicator_id'].nunique())

28

In [84]:
#creating the clean CSV files for indicator and regions
valid_indicators.head()

  indicator_id                       indicator     category
0         Z4BR  ZHVI 4-Bedroom Time Series ($)  Home values
1         Z4BR  ZHVI 4-Bedroom Time Series ($)  Home values
2         Z4BR  ZHVI 4-Bedroom Time Series ($)  Home values
3         Z4BR  ZHVI 4-Bedroom Time Series ($)  Home values
4         Z4BR  ZHVI 4-Bedroom Time Series ($)  Home values

In [83]:
valid_region.head()

   region_id region_type                                             region
0     403211       neigh  Longwood;NY;New York-Newark-Jersey City, NY-NJ...
1      26591        city                    Port Leyden;NY;nan;Lewis County
2      26591        city                    Port Leyden;NY;nan;Lewis County
3       3986        city            Carson;VA;Richmond, VA;Dinwiddie County
4       3986        city            Carson;VA;Richmond, VA;Dinwiddie County